body {
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.datacommon {
  width: 100%;
  height: 100vh;
  min-width: 1366px;
  min-height: 768;
  background: url(../images/three.png) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;

  .leftImg {
    position: absolute;
    height: 110px;
    left: 20px;
    bottom: 30px;
  }

  .rightImg {
    position: absolute;
    height: 110px;
    right: 20px;
    bottom: 30px;
  }

  .datacommon-frame {
    height: calc(100% - 50px);
    width: calc(100% - 70px);
    margin: 25px auto;
    background: url(../images/five.png) no-repeat;
    background-size: 100% 100%;

    .datacommon-title {
      width: 60%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      // background: url(~@/assets/images/four.png) no-repeat;
      // background-size: 100% 100px;

      .title-txt {
        color: #fff;
        font-size: 28px;
        font-weight: 600;
      }

      .title-img {
        height: 21px;
      }
    }
  }

  .datacommon-container {
    width: calc(100% - 30px);
    height: calc(100% - 143px);
    margin: 25px 15px 0px 15px;

    .main {
      display: flex;
      justify-content: space-between;
      height: 100%;

      .main-left {
        width: calc(25% - 30px);
        height: 100%;
        overflow-y: auto;

        .left-top {
          height: 58%;
          padding: 0 10px;
          background: url(~@/assets/images/sixteen.png) no-repeat;
          background-size: 100% 100%;
        }

        .left-btm {
          height: 38%;
          padding: 0 10px;
          background: url(~@/assets/images/sixteen.png) no-repeat;
          background-size: 100% 100%;
          margin-top: 4%;
        }
      }

      .main-center {
        width: 50%;
        height: 100%;

        .center-top {
          height: 62%;
          background: url(~@/assets/images/seventeen.png) no-repeat;
          background-size: 100% 100%;
        }

        .center-btm {
          height: 34%;
          background: url(~@/assets/images/seventeen.png) no-repeat;
          background-size: 100% 100%;
          margin-top: 2%;
        }
      }

      .main-right {
        width: calc(25% - 30px);
        height: 100%;

        .right-top {
          height: 58%;
          padding: 0 10px;
          background: url(~@/assets/images/sixteen.png) no-repeat;
          background-size: 100% 100%;
        }

        .right-btm {
          height: 38%;
          padding: 0 10px;
          background: url(~@/assets/images/sixteen.png) no-repeat;
          background-size: 100% 100%;
          margin-top: 4%;
        }
      }

      .main-container {
        padding: 10px 20px;
        height: calc(100% - 70px);
        margin-top: 10px;
      }

      .item-box {
        position: relative;
      }

      .text-title {
        display: flex;
        justify-content: space-between;
        width: 270px;
        height: 40px;
        line-height: 40px;
        margin: auto;

        .text-txt {
          font-size: 16px;
          color: #fff;
        }

        .text-img {
          img {
            vertical-align: middle;
          }
        }

        .title-icon {
          width: 16px;
          height: 16px;
          position: absolute;
          right: 20px;
          top: 22px;
          cursor: pointer;
        }
      }

    }
  }

  .datacommon-nav {
    display: flex;
    width: 40%;
    margin: auto;

    li {
      flex: 1;
      height: 40px;
      line-height: 40px;
      color: #ffffff;
      overflow: hidden;
      background: url(~@/assets/images/twelve.png) no-repeat left 0px top 0px;
      background-size: 100% 100%;

      &.active {
        background: url(~@/assets/images/fourteen.png) no-repeat left 0px top 0px;
        background-size: 100% 100%;
      }
    }
  }

  .pollutions {
    height: 100%;

    .th {
      font-size: 14px;
      min-height: 30px;
      display: flex;

      li {
        flex: 1;
        text-align: center;
        color: #09e7f1;
        background: rgba(7, 169, 201, 0.2);
        line-height: 30px;
      }
    }

    .seamless-warp {
      font-size: 14px;
      height: calc(100% - 30px);
      overflow: auto;

      .item li {
        min-height: 30px;
        line-height: 30px;
        display: flex;
        padding: 5px 0;

        span {
          flex: 1;
          text-align: center;
          color: #fff;
          font-size: 14px;

          img {
            position: relative;
            top: 4px;
            margin-right: 2px;
          }
        }

        .red {
          color: #ff0202;
        }
      }

      .item li:nth-child(2n) {
        background: rgba(7, 169, 201, 0.1);
      }
    }
  }
}

// 各种el框设置透明
.el-input {
  width: 100%;
}

.el-input__inner,
.el-input-group__append,
.el-select-dropdown {
  background-color: #041539;
  color: #fff;
  border: 1px solid #07dbff;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}

.elDatePicker.el-picker-panel {
  color: #fff; //设置当前面板的月份的字体为白色，记为1
  background: #041539; //定义整体面板的颜色
  border: 1px solid #07dbff; //定义整体面板的轮廓

  .el-picker-panel__icon-btn {
    //设置年份月份调节按钮颜色，记为2
    color: #ffffff;
  }

  .el-date-picker__header-label {
    //设置年月显示颜色，记为3
    color: #ffffff;
  }

  .el-date-table th {
    //设置星期颜色，记为4
    color: #ffffff;
  }
}

.el-select {
  width: 100%;
  
}
.el-popper .popper__arrow::after {
  border-bottom-color: #07dbff!important;
} 

.el-select:hover .el-input__inner{
  border: 1px solid #07dbff;
}
.el-select-dropdown__item {
  color: #fff;
}
.el-select-dropdown__item.selected,
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  color: #fff;
  background: #045274;
}
.el-select-dropdown__item.hover,
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover {
  background: #045274;
}



//滚动条整体样式
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: #010a27;
}

//滚动条滑块的样式
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20%;
}

//两个滚动条交叉处的样式
::-webkit-scrollbar-corner {
  background-color: rgba(255, 255, 255, 0.6);
}